<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hey</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <!-- Custom Google web font -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/admin.css")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap.js")
    @Scripts.Render("~/bundles/plugins.js")
    @Scripts.Render("~/bundles/ckeditor.js")
    @Scripts.Render("~/bundles/datetimepicker.js")
    @Scripts.Render("~/bundles/edit.js")
    @Scripts.Render("~/bundles/common.js")


    @*<script type="text/javascript" src="https://dev-auth.frontstream.com/bundles/shared/navbar-templates.js?1.0.0.21305"></script>
    <script type="text/javascript" src="https://dev-auth.frontstream.com/bundles/shared/navbar-scripts.js?1.0.0.21305"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://dev-auth.frontstream.com/bundles/shared/navbar.css?1.0.0.21305">*@
    <script type="text/javascript" src="https://use.fontawesome.com/8c6d03c44c.js"></script>

</head>
<body class="default-bg" ng-app="app">
    <div ng-controller="baseController" class="nav-bar-compensation">
        <nav-bar class="v2" env="'dev'"
                 product-logout-url="'https://dev-crm.frontstream.com/common/user/logout'"
                 product-logo-path="'https://dev-crm.frontstream.com/static/images/brand/giftworks/giftworks-white-60.png'"></nav-bar>
    </div>
    <div growl></div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
